$appMainColor: #478D43;

// Steps colors
$completedStepColor: #82db85;
$currentStepColor: #518edd;
$nextStepColor: #b3b3b3;

main {
    background-color: white;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30vw 1fr;

    section {
        padding-block: 1rem;
        padding-inline: 2rem;
    }

    .stepper {
        width: 100%;
        height: 100%;
        background-color: $appMainColor;
        border-radius: 0 25px 25px 0;

        .icon {
            user-select: none;
            width: 100%;

            >span {
                color: white;
                font-weight: bold;
                font-size: 2rem;
            }
        }

        .steps-info {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >h4,
            span {
                color: white;
            }

            .timeline {
                position: relative;
                padding: 20px 2rem;
            }

            .step {
                position: relative;
                margin: 20px 0;
                padding-left: 40px;

                .circle {
                    position: absolute;
                    left: -22px;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    color: white;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    font-weight: bold;
                    border: 3px solid white;

                    background-color: $nextStepColor;
                    box-shadow: 0 0 0 3px $nextStepColor;

                    &.active {
                        background-color: $currentStepColor;
                        box-shadow: 0 0 0 3px $currentStepColor;
                    }

                    &.completed {
                        background-color: $completedStepColor;
                        box-shadow: 0 0 0 3px $completedStepColor;
                    }

                }

                .content h3 {
                    margin: 0 0 5px;
                    font-size: 1.1rem;
                    color: white;
                }

                .content p {
                    margin: 0;
                    font-size: 0.95rem;
                    color: white;
                }

            }



        }
    }

    .forms-step {
        background-color: white;
        width: 100%;
        max-height: 100vh;

        .step {
            overflow-y: auto;
            padding-inline: 3rem;
            padding-block: 2rem;
            width: 100%;
            height: 100vh;
        }

    }

}
