<main>

    <section class="stepper">

        <div class="icon mt-4">
            <span>LOGO APP</span>
        </div>

        <div class="steps-info">
            <h4>Paso {{ stepsControl + 1 }} de 4</h4>

            <span class="mb-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis sequi minima beatae ea quisquam
                maiores nisi delectus iste.
            </span>

            <div class="timeline">
                <div class="step">
                    <div class="circle" [ngClass]="{'active': stepsControl === 0, 'completed': stepsControl > 0}">
                        <i class="pi pi-user"></i>
                    </div>
                    <div class="content">
                        <h3>Información personal</h3>
                        <p>Descripción del primer paso.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="circle" [ngClass]="{'active': stepsControl === 1, 'completed': stepsControl > 1}">
                        <i class="pi pi-briefcase"></i>
                    </div>
                    <div class="content">
                        <h3>Información laboral</h3>
                        <p>Descripción del segundo paso.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="circle" [ngClass]="{'active': stepsControl === 2, 'completed': stepsControl > 2}">
                        <i class="pi pi-credit-card"></i>
                    </div>
                    <div class="content">
                        <h3>Información del crédito</h3>
                        <p>Descripción del tercer paso.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="circle" [ngClass]="{'active': stepsControl === 3}">
                        <i class="pi pi-dollar"></i>
                    </div>
                    <div class="content">
                        <h3>Información financiera</h3>
                        <p>Descripción del cuarto paso.</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="forms-step">

        <div class="step" *ngIf="stepsControl === 0">
            <p-fluid>
                <div class="flex flex-col gap-6 w-full">

                    <div class="head">
                        <h4>Información personal</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, adipisci iure quisquam
                            odit,<br>excepturi doloribus quia dolore voluptates enim.
                        </p>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Nombres *</label>
                            <input pInputText id="firstname2" type="text" placeholder="Nombres completos" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname2">Apellidos *</label>
                            <input pInputText id="lastname2" type="text" placeholder="Apellidos completos" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Cedula *</label>
                            <input pInputText id="firstname2" type="number" placeholder="Cedula" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname2">Edad *</label>
                            <input pInputText id="lastname2" type="number" placeholder="Edad" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Fecha de expedición *</label>
                            <p-datepicker [showIcon]="true" [showButtonBar]="true" placeholder="Fecha de expedición" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname2">Correo electrónico *</label>
                            <input pInputText id="lastname2" type="email" placeholder="Correo electrónico" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Departamento *</label>
                            <p-select placeholder="Seleccione un departamento" filter="true"></p-select>
                        </div>
                        <div class="flex flex-col flex-wrap gap-2 w-full">
                            <label>Municipio *</label>
                            <p-select placeholder="Seleccione un municipio" filter="true"></p-select>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Dirección *</label>
                            <input pInputText id="direccion" type="text" placeholder="Dirección" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Apartamento *</label>
                            <input pInputText id="apartamento" type="text" placeholder="Apartamento" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname2">Barrio *</label>
                            <input pInputText id="lastname2" type="text" placeholder="Barrio" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Celular *</label>
                            <input pInputText id="celular" type="text" placeholder="Celular" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname2">Teléfono *</label>
                            <input pInputText id="telefono" type="text" placeholder="Teléfono" />
                        </div>
                    </div>

                    <div class="flex justify-end mt-4 mb-3 gap-2">
                        <button pButton type="button" (click)="stepsControl = 1">
                            Siguiente
                            <i class="pi pi-arrow-right"></i>
                        </button>
                    </div>

                </div>
            </p-fluid>
        </div>

        <div class="step" *ngIf="stepsControl === 1">
            <p-fluid>
                <div class="flex flex-col gap-6 w-full">

                    <div class="head">
                        <h4>Información laboral</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, adipisci iure quisquam
                            odit,<br>excepturi doloribus quia dolore voluptates enim.
                        </p>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Empresa *</label>
                            <input pInputText id="empresa" type="text" placeholder="Nombre de la empresa" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="area">Área *</label>
                            <input pInputText id="area" type="text" placeholder="Área de trabajo" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Tipo de contrato *</label>
                            <p-select placeholder="Seleccione un tipo de contrato" filter="true"></p-select>
                        </div>
                        <div class="flex flex-col gap-2 w-full">
                            <label for="fecha_ingreso">Fecha de ingreso *</label>
                            <p-datepicker [showIcon]="true" [showButtonBar]="true" placeholder="Fecha de ingreso" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Cargo *</label>
                            <input pInputText id="cargo" type="text" placeholder="Nombre del cargo" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="telefono">Teléfono *</label>
                            <input pInputText id="telefono" type="text" placeholder="Teléfono" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Dirección *</label>
                            <input pInputText id="direccion" type="text" placeholder="Dirección" />
                        </div>
                    </div>

                    <div class="flex justify-end mt-4 gap-2">
                        <button pButton type="button" class="p-button-outlined p-button-secondary"
                            (click)="stepsControl = 0">
                            <i class="pi pi-arrow-left"></i>
                            Anterior
                        </button>
                        <button pButton type="button" (click)="stepsControl = 2">
                            Siguiente
                            <i class="pi pi-arrow-right"></i>
                        </button>
                    </div>

                </div>
            </p-fluid>
        </div>

        <div class="step" *ngIf="stepsControl === 2">
            <p-fluid>
                <div class="flex flex-col gap-6 w-full">

                    <div class="head">
                        <h4>Información del crédito</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, adipisci iure quisquam
                            odit,<br>excepturi doloribus quia dolore voluptates enim.
                        </p>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Valor del crédito *</label>
                            <input pInputText id="credito" type="number" placeholder="Valor del crédito" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="plazo">Plazo en meses *</label>
                            <input pInputText id="plazo" type="number" placeholder="Plazo en meses" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Modalidad *</label>
                            <p-select placeholder="Seleccione una modalidad" filter="true"></p-select>
                        </div>
                        <div class="flex flex-col gap-2 w-full">
                            <label for="plazo">Refinancia *</label>
                            <p-select placeholder="Seleccione una opción" filter="true"></p-select>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Destinación *</label>
                            <p-select placeholder="Seleccione una destinación" filter="true"></p-select>
                        </div>
                        <div class="flex flex-col gap-2 w-full">
                            <label for="plazo">Linea de crédito *</label>
                            <p-select placeholder="Seleccione una línea de crédito" filter="true"></p-select>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Banco *</label>
                            <p-select placeholder="Seleccione un banco" filter="true"></p-select>
                        </div>
                        <div class="flex flex-col gap-2 w-full">
                            <label for="plazo">Tipo de cuenta *</label>
                            <p-select placeholder="Seleccione un tipo de cuenta" filter="true"></p-select>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-col gap-2 w-full">
                            <label>Número de cuenta *</label>
                            <input pInputText id="numero_cuenta" type="text" placeholder="Número de cuenta" />
                        </div>
                    </div>

                    <div class="flex justify-end mt-4 gap-2">
                        <button pButton type="button" class="p-button-outlined p-button-secondary"
                            (click)="stepsControl = 1">
                            <i class="pi pi-arrow-left"></i>
                            Anterior
                        </button>
                        <button pButton type="button" (click)="stepsControl = 3">
                            Siguiente
                            <i class="pi pi-arrow-right"></i>
                        </button>
                    </div>

                </div>
            </p-fluid>
        </div>

        <div class="step" *ngIf="stepsControl === 3">
            <p-fluid>
                <div class="flex flex-col gap-6 w-full">

                    <div class="head">
                        <h4>Información financiera</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, adipisci iure quisquam
                            odit,<br>excepturi doloribus quia dolore voluptates enim.
                        </p>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Ingresos *</label>
                            <input pInputText id="ingresos" type="number" placeholder="Valor de los ingresos" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="plazo">Egresos *</label>
                            <input pInputText id="egresos" type="number" placeholder="Valor de los egresos" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Activos *</label>
                            <input pInputText id="activos" type="number" placeholder="Valor de los activos" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="plazo">Pasivos *</label>
                            <input pInputText id="pasivos" type="number" placeholder="Valor de los pasivos" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Colillas de pago *</label>
                            <input pInputText id="colillas_pago" type="file"
                                placeholder="Valor de las colillas de pago" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Carta laboral *</label>
                            <input pInputText id="carta_laboral" type="file" placeholder="Valor de la carta laboral" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6 mt-3">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label>Otros documentos *</label>
                            <input pInputText id="otros_documentos" type="file"
                                placeholder="Valor de otros documentos" />
                        </div>
                    </div>

                    <div class="flex justify-end mt-4 gap-2">
                        <button pButton type="button" class="p-button-outlined p-button-secondary"
                            (click)="stepsControl = 2">
                            <i class="pi pi-arrow-left"></i>
                            Anterior
                        </button>
                        <button pButton type="button">
                            Solicitar
                            <i class="pi pi-check"></i>
                        </button>
                    </div>

                </div>
            </p-fluid>
        </div>

    </section>

</main>
